<%- include('admin-partials/header.ejs') %>

<div class="screen-overlay"></div>

<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
       <a href="/" class="brand-wrap">
          <img src="/assets/imgs/shop/BIKYS.png" class="logo" alt="BIKYS Dashboard">
       </a>
       <div>
          <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
          </button>
       </div>
    </div>
    <nav>
       <ul class="menu-aside">
         
          <li class="menu-item ">
            <a class="menu-link" href="/admin"> <i class="icon material-icons md-person"></i>
               <span class="text">Dashboard</span>
            </a>
         </li>
         <li class="menu-item ">
            <a class="menu-link" href="/admin/usermanagement"> <i class="icon material-icons md-home"></i>
               <span class="text">User Management</span>
            </a>
         </li>
          <!-- <li class="menu-item active">
             <a class="menu-link" href="/admin/usermanagement"> <i class="icon material-icons md-person"></i>
                <span class="text">User Management</span>
             </a>
          </li> -->


          <li class="menu-item has-submenu ">
             <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Products</span>
             </a>
             <div class="submenu ">
                <a href="/admin/product-management">Product List</a>
                <!-- <a href="page-products-grid.html">Product grid</a>
                 <a href="page-products-grid-2.html">Product grid 2</a> -->
                <a href="/admin/category-management">Categories</a>
             </div>
          </li>

          <li class="menu-item ">
             <a class="menu-link" href="/admin/order-management"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Order Management</span>
             </a>
          </li>

          <li class="menu-item">
             <a class="menu-link" href="/admin/coupon-management"> <i class="icon material-icons md-redeem"></i>
                <span class="text">Coupon Management</span>
             </a>
          </li>

          <li class="menu-item ">
            <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-shopping_cart"></i>
               <span class="text">Banner Managemet</span>
            </a>
         </li>


       </ul>
       <hr>

       <br>
       <br>
    </nav>
 </aside>

<main class="main-wrap">
    <header class="main-header navbar">
        <!-- <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div> -->
        <div class="col-nav ms-auto">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <!-- <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li> -->
                <li class="dropdown nav-item">
                    <a class="dropdown-item text-danger" href="/admin/logout"><i
                        class="material-icons md-exit_to_app"></i>Logout</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard </h2>
                <p>Whole data about your business here</p>
            </div>

            

            <!-- <div>
                <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create
                    report</a>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span>INR <%= daily.totalRevenue.toFixed(2) %></span>
                            <!-- <span class="text-sm">
                                Shipping fees are not included
                            </span> -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i
                                class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6> <span><%= orders.length %></span>
                            <!-- <span class="text-sm">
                                Excluding orders in transit
                            </span> -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6> <span><%= allProductsCount %></span>
                            <!-- <span class="text-sm">
                                In 19 Categories
                            </span> -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Monthly Earning</h6> <span>INR <%= daily.Revenue.toFixed(2) %></span>
                            <!-- <span class="text-sm">
                                Based in your local time.
                            </span> -->
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="mb-4 d-flex justify-content-evenly">
            <a href="/admin/pdf/?type=daily" class="btn btn-md btn-primary" download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Daily
                report</a>
                <a href="/admin/pdf/?type=weekly" class="btn btn-md btn-primary" download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Weekly
                    report</a>
                    <a href="/admin/pdf/?type=monthly" class="btn btn-md btn-primary"download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Monthly
                        report</a>
                        <a href="/admin/pdf/?type=yearly" class="btn btn-md btn-primary" download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Yearly
                            report</a>
        <!-- </div> -->
        <!-- <div> -->
            <a href="/admin/excel" class="btn btn-md btn-primary"><i class="text-muted material-icons md-post_add"></i>Create Excel</a>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <canvas id="myChart" height="100px"></canvas>
                    </article>
                </div>
               
            </div>
            <!-- <div class="col-xl-4 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Revenue Base on Area</h5>
                        <canvas id="myChart2" height="217"></canvas>
                    </article>
                </div>
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Marketing Chanel</h5>
                        <span class="text-muted font-xs">Facebook</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                        </div>
                        <span class="text-muted font-xs">Instagram</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 65%">65% </div>
                        </div>
                        <span class="text-muted font-xs">Google</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 51%"> 51% </div>
                        </div>
                        <span class="text-muted font-xs">Twitter</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                        </div>
                        <span class="text-muted font-xs">Other</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                        </div>
                    </article>
                </div>
            </div> -->
        </div>

        <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title">Sales Report</h4>
                <div class="row align-items-center"></div>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center">
                                    <div class="form-check align-middle">
                                        <!-- <input class="form-check-input" type="checkbox" id="transactionCheck01"> -->
                                        <label class="form-check-label" for="transactionCheck01"></label>
                                    </div>
                                </th>
                                <th class="align-middle" scope="col">Product Name</th>
                                <th class="align-middle" scope="col">Total Stock</th>
                                
                                <th class="align-middle" scope="col">Customer Name</th>
                                <th class="align-middle" scope="col">Total Revenue</th>
                                <th class="align-middle" scope="col">Payment Method</th>
                                <!-- <th class="align-middle" scope="col">View Details</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <% if (salesReportData && salesReportData.length > 0) { %>
                                <% salesReportData.forEach(product => { %>
                                    <tr>
                                        <td class="text-center">
                                            <!-- <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                                <label class="form-check-label" for="transactionCheck02"></label>
                                            </div> -->
                                        </td>
                                        <td><%= product.productName %></td>
                                        <td><%= product.totalStock %></td>
                                        
                                        <td><%= product.customerName %></td>
                                        <td><%= product.totalRevenue %></td>
                                        <td>
                                            <i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%= product.paymentMethod %>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7" class="text-center">No products sold</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>

        


        <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title">Orders</h4>
                <div class="row align-items-center">
                    
                    
                </div>
            </header>
            <div class="card-body">
                <div class="table-responsive ">
                    
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                
                                <tr>
                                    <th scope="col" class="text-center">
                                        <div class="form-check align-middle">
                                            <!-- <input class="form-check-input" type="checkbox" id="transactionCheck01"> -->
                                            <label class="form-check-label" for="transactionCheck01"></label>
                                        </div>
                                    </th>
                                    <th class="align-middle" scope="col">Order ID</th>
                                    <th class="align-middle" scope="col">Billing Name</th>
                                    <th class="align-middle" scope="col">Date</th>
                                    <th class="align-middle" scope="col">Total</th>
                                    <th class="align-middle" scope="col">Order Status</th>
                                    <th class="align-middle" scope="col">Payment Method</th>
                                    <!-- <th class="align-middle" scope="col">View Details</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% if(orders && orders.length> 0){ %>
                                    <% orders.forEach((order, index)=> { %>
                                <tr>
                                    <td class="text-center">
                                        <!-- <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                            <label class="form-check-label" for="transactionCheck02"></label>
                                        </div> -->
                                    </td>
                                    <td><a href="/admin/order-management/orderDetailedView/<%= order._id %>" class="fw-bold">#<%= order.oId %></a> </td>
                                    <td><%= order.user ? order.user.name : 'N/A' %></td>

                                    <td><%= order.orderDate.toLocaleDateString() %></td>
                                    <td>INR <%= order.billTotal %></td>
                                    <td>
                                        <span class="badge badge-pill badge-soft-success"><%= order.status %></span>
                                    </td>
                                    <td>
                                        <i class="material-icons md-payment font-xxl text-muted mr-5"></i> 
                                        <%= order.paymentMethod %>
                                    </td>
                                   
                                </tr>
                                <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="8" class="text-center">No orders Found</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end mt-3 pe-5">
                            <a href="/admin/order-management"> More orders <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                  
                </div> <!-- table-responsive end// -->
            </div>
        </div>
        <!-- <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div> -->
    </section> <!-- content-main end// -->
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Monthly data chart
            const monthlyOrders = <%- JSON.stringify(monthly) %>;
            const ctx = document.getElementById('myChart');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Orders', 'Sales', 'Average Revenue'],
                    datasets: [{
                        label: 'Monthly Data',
                        data: [monthlyOrders.totalOrders, monthlyOrders.averageSales, monthlyOrders.averageRevenue],
                        backgroundColor: 'rgba(54, 162, 235, 0.2)', // Light blue color
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
    
            // Yearly data chart
            const yearlyString = '<%= JSON.stringify(yearly) %>';
            const yearly = JSON.parse(decodeHtmlEntities(yearlyString));
            const yearlyCtx = document.getElementById('yearlyChart');
            new Chart(yearlyCtx, {
                type: 'bar',
                data: {
                    labels: ['Orders', 'Users', 'Products'],
                    datasets: [{
                        label: 'Yearly Data',
                        data: [yearly.count, yearly.users, yearly.totalproducts],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
    
            // Daily data chart
            const dailyString = '<%= JSON.stringify(daily) %>';
            const dailyOrders = JSON.parse(decodeHtmlEntities(dailyString));
            const dailyCtx = document.getElementById('dailyChart');
            new Chart(dailyCtx, {
                type: 'bar',
                data: {
                    labels: ['Orders', 'Users', 'Products'],
                    datasets: [{
                        label: 'Daily Data',
                        data: [dailyOrders.count, dailyOrders.users, dailyOrders.totalproducts],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
    

    <%- include('admin-partials/footer.ejs') %>