<%- include('admin-partials/header.ejs') %>


<div class="screen-overlay"></div>

<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/imgs/shop/BIKYS.png" class="logo" alt="inloop Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/usermanagement"> <i class="icon material-icons md-person"></i>
                    <span class="text">User Management</span>
                </a>
            </li>
            <li class="menu-item has-submenu ">
                <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu ">
                    <a href="/admin/product-management">Product List</a>
                    <!-- <a href="page-products-grid.html">Product grid</a>
                   <a href="page-products-grid-2.html">Product grid 2</a> -->
                    <a href="/admin/category-management">Categories</a>
                </div>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/order-management"> <i
                        class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Order Management</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/coupon-management"> <i class="icon material-icons md-redeem"></i>
                   <span class="text">Coupon Management</span>
                </a>
             </li>
   
             <li class="menu-item ">
               <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-shopping_cart"></i>
                  <span class="text">Banner Managemet</span>
               </a>
            </li>
            <!-- <li class="menu-item has-submenu">
               <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                   <span class="text">Sellers</span>
               </a>
               <div class="submenu">
                   <a href="page-sellers-cards.html">Sellers cards</a>
                   <a href="page-sellers-list.html">Sellers list</a>
                   <a href="page-seller-detail.html">Seller profile</a>
               </div>
           </li> -->
            <!-- <li class="menu-item has-submenu">
               <a class="menu-link" href="page-transactions-1.html"> <i
                       class="icon material-icons md-monetization_on"></i>
                   <span class="text">Transactions</span>
               </a>
               <div class="submenu">
                   <a href="page-transactions-1.html">Transaction 1</a>
                   <a href="page-transactions-2.html">Transaction 2</a>
                   <a href="page-transactions-details.html">Transaction Details</a>
               </div>
           </li> -->
            <!-- <li class="menu-item has-submenu">
               <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                   <span class="text">Account</span>
               </a>
               <div class="submenu">
                   <a href="page-account-login.html">User login</a>
                   <a href="page-account-register.html">User registration</a>
                   <a href="page-error-404.html">Error 404</a>
               </div>
           </li> -->
            <!-- <li class="menu-item">
               <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                   <span class="text">Reviews</span>
               </a>
           </li> -->
            <!-- <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li> -->
            <!-- <li class="menu-item">
               <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                   <span class="text">Statistics</span>
               </a>
           </li> -->
        </ul>
        <hr>
        <!-- <ul class="menu-aside">
           <li class="menu-item has-submenu">
               <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                   <span class="text">Settings</span>
               </a>
               <div class="submenu">
                   <a href="page-settings-1.html">Setting sample 1</a>
                   <a href="page-settings-2.html">Setting sample 2</a>
               </div>
           </li>
           <li class="menu-item">
               <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                   <span class="text"> Starter page </span>
               </a>
           </li>
       </ul> -->
        <br>
        <br>
    </nav>
</aside>

<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                        aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" href="#"><img src="/assets/imgs/theme/flag-us.png"
                                alt="English">English</a>
                        <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-fr.png"
                                alt="Français">Français</a>
                        <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-jp.png"
                                alt="Français">日本語</a>
                        <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-cn.png"
                                alt="Français">中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        aria-expanded="false">
                        <img class="img-xs rounded-circle" src="/assets/imgs/people/avatar2.jpg" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                            Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" href="#"><i
                                class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div
        class="d-flex ms-4 me-4 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom my-4 ">
        <h3 class="h3">Order Management</h3>
        <div class="btn-toolbar mb-2 mb-md-0">


        </div>
    </div>

    <!-- Content wrapper scroll start -->
    <div class="container content-wrapper-scroll">
        <div class="content-wrapper">
            <div class="row gutters bg-white">
                <!-- Product Table Section -->
                <div class="col-lg-12">
                    <div class="card-body">
                        <div class="row mt-20 order-info-wrap">
                            <div class="col-lg-10">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="40%">Product</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%" class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Loop through products in the order -->
                                            <% orders.items.forEach((item) => { %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/<%= item.image %>" width="40" height="40"
                                                                class="img-xs" alt="<%= item.name %>">
                                                        </div>
                                                        <div class="info"> <%= item.name %> </div>
                                                    </a>
                                                </td>
                                                <td> &#8377;<%= item.productPrice %></td>
                                                <td> <%= item.quantity %></td>
                                                <td class="text-end"> &#8377;<%= item.price %></td>
                                            </tr>

                                            <% }); %>
                                            <tr>
                                                <td colspan="4">
                                                    <article class="float-end">
                                                        <dl class="dlist">
                                                            <dt>Subtotal:</dt>
                                                            <dd>&#8377;<%= orders.billTotal %></dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt>Grand total:</dt>
                                                            <dd> <b class="h5">&#8377;<%= orders.billTotal %></b> </dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt class="text-muted">Payment Status:</dt>
                                                            <dd>
                                                                <span
                                                                    class="badge rounded-pill alert-success text-success"><%= orders.paymentStatus %></span>
                                                            </dd>
                                                        </dl>
                                                    </article>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Three Sections Below Product Table -->
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                    <!-- General Details Section -->
                    <div class="card ">
                        <div class="card-header" style="font-weight: bolder;">General Details</div>
                        <div class="card-body">
                            <form id="orderStatusForm"
                                onsubmit="submitOrderStatusForm('<%= orders.oId %>'); return false;">
                                <label for="orderId" style="font-weight: bolder;">Order Id:</label><br>
                                <%= orders.oId %><br /><br />
                                <label for="orderDate" style="font-weight: bolder;">Order Date:</label><br>
                                <input type="text" class="mt-2 mb-2 text-brand border-0"
                                    value="<%= orders.orderDate.toDateString() %>" disabled /><br>

                                <label for="orderStatus mt-4" style="font-weight: bolder;">Order Status:</label><br>
                                <select name="orderStatus" class="form-select mt-2" data-live-search="true">
                                    <% switch (orders.status) {
                                        case 'Pending': %>
                                    <option value="Pending" selected>Pending</option>
                                    <option value="Processing">Processing</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Canceled">Canceled</option>
                                    <% break;
                                        case 'Processing': %>
                                    <option value="Pending">Pending</option>
                                    <option value="Processing" selected>Processing</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Canceled">Canceled</option>
                                    <% break;
                                        case 'Shipped': %>
                                    <option value="Shipped" selected>Shipped</option>
                                    <option value="Canceled">Canceled</option>
                                    <option value="Delivered">Delivered</option>
                                    <% break;
                                       case 'Canceled': %>
                                    <option value="Canceled">Canceled</option>
                                    <% break;                                                  
                                        default: %>
                                    <option value="Delivered">Delivered</option>
                                    <% } %>
                                </select><br>
                                <button type="submit" class="btn btn-primary">Save Order</button>
                            </form>


                        </div>
                    </div>





                    <!-- User Details Section -->
                    <div class="card">
                        <div class="card-header" style="font-weight: bolder;">User Details</div>
                        <div class="card-body">
                            <strong style="font-weight: bold;"> Name:</strong>
                            <span class="text-brand"> <%= userDetail.username %></span><br>
                            <strong style="font-weight: bold;">Email:</strong>
                            <span class="text-brand"> <%= userDetail.email %></span><br>
                            <!-- <p><strong>Gender:</strong> <%= userDetail.gender %></p> -->
                            <strong style="font-weight: bold;">Blocked:</strong>
                            <span class="text-brand"><%= userDetail.isBlocked ? "Yes" : "No" %></span><br>
                            <strong style="font-weight: bold;">Mobile:</strong>
                            <span class="text-brand"> <%= userDetail.phone %></span>

                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-header" style="font-weight: bolder;">User Requests</div>



                            <% if (orders.requests && orders.requests.length > 0) { %>

                            <% if (orders.status == 'Canceled' && orders.requests[0].status === 'Pending') { %>
                            <strong class="text-danger mb-3 text-center">Order Canceled</strong>
                            <input type="text" value="<%= orders.requests[0].reason  %>" readonly
                                class="mb-3 text-center">
                            <button class="btn btn-primary"
                                onclick="refundAmount('<%= orders._id %>','<%= orders.user._id %>')">Refund
                                Amount</button>


                            <% } else if (orders.status == 'Returned' && orders.requests[0].status === 'Pending') { %>
                            <strong class="text-brand mb-3 mt-2 text-center">Order Returned <span
                                    style="font-size: 14px; color: black;">(Reason)</span></strong>
                            <input type="text" value="<%= orders.requests[0].reason  %>" readonly
                                class="mb-3 text-center border-0">
                            <button class="btn btn-success w-50 mb-3 text-center ms-5"
                                onclick="refundAmount('<%= orders._id %>','<%=  orders.user._id %>')">Accept Return
                                Order</button>


                            <% } else { %>
                            <!-- Display other request details as needed -->
                            <% orders.requests.forEach(request => { %>
                            <!-- Example: Displaying FedEx tracking details -->
                            <% if (request.type == 'Return') { %>
                            <div class="pt-3">Order return accepted</div>
                            <span><a href="#" class="text-decoration-underline" target="_blank"></a> <i
                                    class="bi bi-box-arrow-up-right"></i></span>
                            <% } %>
                            <% }) %>
                            <% } %>
                            <% } else { %>
                            <p class="h6 text-center">No requests available.</p>
                            <% } %>


                        </div>
                        <hr>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header" style="font-weight: bolder;">Shipping Details</div>
                        <div class="card-body">
                            <label for="Address" style="font-weight: bolder;">Address Type: </label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.addressType.toUpperCase() %></span><br>

                            <label for="HouseNo" style="font-weight: bolder;">House Number:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.HouseNo %></span><br>

                            <label for="Street" style="font-weight: bolder;">Street:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.Street %></span><br>

                            <label for="Landmark" style="font-weight: bolder;">Landmark:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.Landmark %></span><br>

                            <label for="Pincode" style="font-weight: bolder;">Pincode:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.pincode %></span><br>

                            <label for="City" style="font-weight: bolder;">City:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.city %></span><br>

                            <label for="District" style="font-weight: bolder;">District:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.district %></span><br>

                            <label for="State" style="font-weight: bolder;">State:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.State %></span><br>

                            <label for="Country" style="font-weight: bolder;">Country:</label>
                            <span class="text-brand"
                                style="font-weight: bolder;"><%= orders.deliveryAddress.Country %></span><br>
                        </div>
                    </div>


                    <!--payment details section -->
                    <div class="card">
                        <div class="card-header" style="font-weight: bolder;">Payment Details</div>
                        <div class="card-body">
                            <label for="BillTotal" style="font-weight: bolder;">Bill Total:</label>
                            <span class="text-brand"> INR <%= orders.billTotal %></span><br>

                            <label for="PaymentMethod" style="font-weight: bolder;">Payment Method:</label>
                            <span class="text-brand"><%= orders.paymentMethod %></span><br>

                            <label for="PaymentStatus" style="font-weight: bolder;">Payment Status:</label>
                            <span class="text-brand"><%= orders.paymentStatus %></span><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function submitOrderStatusForm(orderId) {
            const newStatus = document.querySelector('select[name="orderStatus"]').value;
            // Make the fetch request
            
            fetch(`/admin/order-management/update-order-status/${orderId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        orderStatus: newStatus
                    }),
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        // Handle success
                        Swal.fire({
                            icon: 'success',
                            title: 'Order Status Updated',
                            text: 'The order status has been updated successfully.',
                        });
                    } else {
                        // Handle error
                        Swal.fire({
                            icon: 'error',
                            title: 'Error Updating Order Status',
                            text: data.message || 'An error occurred while updating the order status.',
                        });
                    }
                })
                .catch((error) => {
                    // Handle fetch error
                    Swal.fire({
                        icon: 'error',
                        title: 'Fetch Error',
                        text: 'An error occurred while making the request.',
                    });
                });
        }


        function refundAmount(orderId, userId) {
            // Prepare the data to be sent
            const requestData = {
                orderId: orderId,
                userId: userId,
            };
        

            // Make a POST request to the backend endpoint
            fetch('/admin/refund-amount', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                })
                .then(response => {
                    //     if (!response.ok) {
                    //         throw new Error('Network response was not ok');
                    //     }
                    //     return response.json();
                    // })
                    console.log("Response status:", response.status);
                    return response.json();
                })
                .then(data => {
                    // Handle successful response
                    console.log(data); // You can replace this with your desired logic

                    Swal.fire({
                        icon: 'success',
                        title: 'Amount refunded to user successfully',
                        text: 'The order status has been updated successfully.',
                    })
                    // Show a success message using SweetAlert
                    setTimeout(() => {
                        window.location.reload()
                    }, 1000)
                })
                .catch(error => {
                    // Handle errors
                    console.error('Error:', error);

                    Swal.fire({
                        icon: 'Error!',
                        title: 'Failed to refund amount',
                        text: error,
                    });

                }) // Show an error message using SweetAlert
        }
    </script>

    <%- include('admin-partials/footer.ejs') %>