<%- include('admin-partials/header.ejs') %>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
   <div class="screen-overlay"></div>


   <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
         <a href="/" class="brand-wrap">
            <img src="/assets/imgs/shop/BIKYS.png" class="logo" alt="BIKYS Dashboard">
         </a>
         <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
         </div>
      </div>
      <nav>
         <ul class="menu-aside">
            <li class="menu-item ">
               <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                  <span class="text">Dashboard</span>
               </a>
            </li>
            <li class="menu-item active">
               <a class="menu-link" href="/admin/usermanagement"> <i class="icon material-icons md-person"></i>
                  <span class="text">User Management</span>
               </a>
            </li>
            <li class="menu-item has-submenu ">
               <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                  <span class="text">Products</span>
               </a>
               <div class="submenu ">
                  <a href="/admin/product-management">Product List</a>
                  <!-- <a href="page-products-grid.html">Product grid</a>
                   <a href="page-products-grid-2.html">Product grid 2</a> -->
                  <a href="/admin/category-management">Categories</a>
               </div>
            </li>

            <li class="menu-item ">
               <a class="menu-link" href="/admin/order-management"> <i class="icon material-icons md-shopping_cart"></i>
                  <span class="text">Order Management</span>
               </a>
            </li>

            <li class="menu-item">
               <a class="menu-link" href="/admin/coupon-management"> <i class="icon material-icons md-redeem"></i>
                  <span class="text">Coupon Management</span>
               </a>
            </li>
            
          <li class="menu-item ">
            <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-shopping_cart"></i>
               <span class="text">Banner Managemet</span>
            </a>
         </li>



         </ul>
         <hr>

         <br>
         <br>
      </nav>
   </aside>

   <main class="main-wrap">
      <header class="main-header navbar">
         <div class="col-search">
            <form class="searchform">
               <!-- <div class="input-group">
                  <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                  <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
               </div> -->
               <datalist id="search_terms">
                  <option value="Products">
                  <option value="New orders">
                  <option value="Apple iphone">
                  <option value="Ahmed Hassan">
               </datalist>
            </form>
         </div>
         <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                  class="material-icons md-apps"></i> </button>
            <ul class="nav">
               <li class="nav-item">
                  <a class="nav-link btn-icon" href="#">
                     <!-- <i class="material-icons md-notifications animation-shake"></i>
                     <span class="badge rounded-pill">3</span> -->
                  </a>
               </li>
               <!-- <li class="nav-item">
                  <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
               </li>
               <li class="nav-item">
                  <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
               </li> -->
               <a class="dropdown-item text-danger" href="/admin/logout"><i
                  class="material-icons md-exit_to_app"></i>Logout</a>

               <!-- <li class="dropdown nav-item">
                  <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                     aria-expanded="false">
                     <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                     <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                        Profile</a>
                     <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                     <a class="dropdown-item" href="#"><i
                           class="material-icons md-account_balance_wallet"></i>Wallet</a>
                     <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                     <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item text-danger" href="/admin/login"><i
                           class="material-icons md-exit_to_app"></i>Logout</a>
                  </div>
               </li> -->
            </ul>
         </div>
      </header>
      <section class="content-main">
         <div class="content-header">
            <div>
               <h2 class="content-title card-title">Category Management</h2>
               <!-- <p>Lorem ipsum dolor sit amet.</p> -->
            </div>
            <div>

               <a href="#" class="btn btn-primary btn-sm rounded" data-bs-toggle="modal"
                  data-bs-target="#addProductModal">Add new category</a>





               <!-- Add Product Modal -->
               <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="addProductModalLabel">Add New Category</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <!-- Error message -->
                           <% if (locals.error) { %>
                              <div class="alert alert-danger" role="alert">
                                 <%= locals.error %>
                              </div>
                              <% } %>

                                 <!-- Product details form -->
                                 <div id="errorMessage" style="color: red;"></div>
                                 <div id="errorContainer" style="color: red;"></div>


                                 <form id="categoryForm" action="/admin/category-management/newCategory" method="post"
                                    enctype="multipart/form-data">
                                    <div class="mb-3">
                                       <label for="name" class="form-label">Category Name</label>
                                       <input type="text" id="name" name="name" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                       <label for="description" class="form-label">Category Description</label>
                                       <input type="text" class="form-control" id="description" name="description"
                                          required>
                                    </div>
                                    <!-- <div class="mb-3">
                                       <label for="image" class="form-label">Category Image</label>
                                       <input type="file" class="form-control" id="image" name="image" accept="image/*"
                                          required>
                                    </div> -->

                                    <div class="mb-3">
                                       <label for="image" class="form-label">Category Image</label>
                                       <input type="file" class="form-control" id="image" name="image" accept="image/*"
                                          required>
                                       <img id="imagePreview" src="#" alt="Preview"
                                          style="max-width: 100px; max-height: 100px; display: none;">
                                    </div>

                                    <div class="modal-footer">

                                       <button type="button" onclick="submitForm()">Add Category</button>
                                 </form>
                        </div>
                     </div>
                  </div>
               </div>


            </div>

         </div>
         </div>



         <div class="card-body">
            <div class="table-responsive border rounded">
               <table class="table text-center">
                  <thead class="border rounded">
                     <tr class="text-center">
                        <th scope="col">Sl No</th>
                        <th scope="col">Image</th>
                        <th scope="col">Category Name</th>
                        <th colspan="1">Description</th>
                        <th scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody class="border rounded">
                     <% categories?.forEach((category, index)=> { %>
                        <tr>
                           <td class="align-middle">
                              <%= index + 1 %>
                           </td>
                           <td class="align-middle">
                              <% if (category.image) { %>
                                 <img src="/<%= category.image %>" class="img-thumbnail" alt="<%= category.name %>"
                                    style="width: 80px; height: 80px">
                                 <% } %>
                           </td>
                           <td class="align-middle">
                              <%= category.name %>
                           </td>
                           <td class="align-middle" style="max-width: 300px; min-width: 150px;">
                              <%= category.description %>
                           </td>
                           <td class="align-middle">
                              <button type="button" class="btn btn-sm font-sm rounded btn-brand" data-bs-toggle="modal"
                                 data-bs-target="#editModal<%= category._id %>" data-category-id="<%= category._id %>">
                                 <i class="material-icons md-edit"></i> Edit
                              </button>
                              <button type="button"
                                 class="btn btn-sm font-sm rounded <%= category.isFeatured ? 'btn-danger' : 'btn-success' %>"
                                 onclick="publishCategory('<%= category._id %>')">
                                 <%= category.isFeatured ? 'Unpublish' : 'Publish' %>
                              </button>
                           </td>
                        </tr>





                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal<%= category._id %>" tabindex="-1"
                           aria-labelledby="editModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                       aria-label="Close"></button>
                                 </div>
                                 <div class="modal-body">
                                    <!-- Your edit form goes here -->
                                    <form action="category-management/edit-category/<%= category._id %>"
                                       enctype="multipart/form-data" method="post">
                                       <!-- Image Upload Section -->

                                       <div class="mb-3">
                                          <label for="editName" class="form-label">Category Name</label>
                                          <input type="text" class="form-control" id="editName" name="editName"
                                             value="<%= category.name %>">
                                       </div>
                                       <div class="mb-3">
                                          <label for="editDescription" class="form-label">Description</label>
                                          <textarea class="form-control" id="editDescription" rows="2"
                                             name="editDescription"> <%= category.description %>
                     
                  </textarea>
                                       </div>
                                       <div class="mb-3">
                                          <label for="editImage" class="form-label">Category Image</label>
                                          <div class="mb-3 ">
                                             <img class="m-1" src="/<%= category.image %>" alt="<%= category.name %>"
                                                style="width: 65px; height: 80px">
                                          </div>
                                          <input type="file" class="form-control" name="editImage" id="editImage"
                                             accept="image/*">

                                       </div>

                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"
                                             data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save Changes</button>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>




                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script>
                           async function publishCategory(categoryId) {
                              let result = await Swal.fire({
                                 title: 'Do you want to save the changes?',
                                 showDenyButton: true,
                                 showCancelButton: true,
                                 confirmButtonText: 'Save',
                                 denyButtonText: `Don't save`,
                              })
                              if (result.isConfirmed) {
                                 let response = await fetch('/admin/category-management/isFeatured', {
                                    method: 'POST',
                                    headers: {
                                       "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({
                                       categoryId
                                    })
                                 })
                                 if (response.status === 200) {
                                    await Swal.fire('Saved!', 'Category Unpublished', 'success')
                                 } else if (response.status === 201) {
                                    await Swal.fire('Saved!', 'Category Published', 'success')
                                 }

                                 window.location.reload();
                              } else if (result.isDenied) {
                                 Swal.fire('Changes are not saved', '', 'info')
                              }
                           }
                        </script>
                        </td>

                        <!-- End Edit Modal -->
                        <% }) %>
                  </tbody>
               </table>
            </div>
         </div>









         <!-- card end// -->


         <!--pagination -->

         <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
            <nav aria-label="Page navigation example">
               <ul class="pagination justify-content-start">
                  <% if (currentPage> 1) { %>
                     <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>"><i
                              class="material-icons md-chevron_left"></i></a>
                     </li>
                     <% } %>

                        <% for (let i=Math.max(1, currentPage - 2); i <=Math.min(currentPage + 2, totalPages); i++) { %>
                           <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                              <a class="page-link" href="?page=<%= i %>">
                                 <%= i %>
                              </a>
                           </li>
                           <% } %>

                              <% if (currentPage < totalPages) { %>
                                 <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage + 1 %>"><i
                                          class="material-icons md-chevron_right"></i></a>
                                 </li>
                                 <% } %>
               </ul>
            </nav>
         </div>


      </section> <!-- content-main end// -->

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script>

         // Function to handle file input change and show image preview
         document.getElementById('image').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
               const reader = new FileReader();
               reader.onload = function (e) {
                  const imagePreview = document.getElementById('imagePreview');
                  imagePreview.src = e.target.result;
                  imagePreview.style.display = 'block'; // Show the image preview
               }
               reader.readAsDataURL(file);
            }
         });


         function submitForm() {
            var name = $('#name').val().trim();
            var description = $('#description').val().trim();

            // Clear previous error and success messages
            $('#errorContainer').text('');
            $('#successContainer').text('');

            if (!name || !description) {
               // Display error message on the page
               displayErrorMessage('Category name and description are required.');
               return;
            }

            var formData = new FormData($('#categoryForm')[0]);

            $.ajax({
               type: 'POST',
               url: '/admin/category-management/newCategory',
               data: formData,
               contentType: false,
               processData: false,
               dataType: 'json',
               success: function (response) {
                  if (response.success) {
                     // Display success message using SweetAlert
                     swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Category added successfully.',
                     }).then(function () {
                        // Redirect to the category page after the SweetAlert is closed
                        window.location.href = '/admin/category-management';
                     });
                  } else {
                     // Display error message on the page
                     displayErrorMessage('Error: ' + extractErrorMessage(response));
                  }
               },
               error: function (xhr, status, error) {
                  console.error(xhr.responseText);
                  // Display detailed error message on the page
                  displayErrorMessage('Error: ' + extractErrorMessage(xhr.responseText));
               }
            });
         }

         // Function to extract the error message from the JSON response
         function extractErrorMessage(responseText) {
            try {
               // Try to parse the JSON response
               const responseObject = JSON.parse(responseText);
               // Return the specific error message if available
               return responseObject.error || 'An unexpected error occurred.';
            } catch (error) {
               // Return a default error message if JSON parsing fails
               return 'An unexpected error occurred.';
            }
         }

         // Function to display success message on the page
         function displaySuccessMessage(successMessage) {
            $('#successContainer').text(successMessage);
         }

         // Function to display error message on the page
         function displayErrorMessage(errorMessage) {
            $('#errorContainer').text(errorMessage);
         }
      </script>

      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

      <%- include('admin-partials/footer.ejs') %>