<%- include('partials/header.ejs') %>

    <style>
        .coupon-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-top: 10px;
        }

        .coupon-details {
            flex-grow: 1;
        }

        .apply-btn {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        a.btn.disabled {
            pointer-events: none;
            /* Prevents clickable events */
            color: #ccc;
            /* Makes the text color light grey */
        }

        .disabled-link {
            pointer-events: none;
            /* Disable pointer events to prevent interactions */
            color: #999;
            /* Change the color to a muted or grayed-out style */
            text-decoration: none;
            /* Remove underlines or other text decorations */
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
            color: #ccc;
        }

        .alert {
            padding: 10px;
            background-color: #f44336;
            color: white;
            text-align: center;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 20vw;
            z-index: 1000;
        }

        #stockAlert {
            position: fixed;
            top: 20%;
            /* Center the alert vertically */
            left: 50%;
            /* Center the alert horizontally */
            transform: translate(-50%, -50%);
            /* Center the alert perfectly */
            padding: 10px;
            background-color: #f44336;
            color: white;
            text-align: center;
        }
    </style>



    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <!-- <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop
                                        now</a></li>
                            </ul>
                        </div>
                    </div> -->
                    </div>

                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>

                                <!-- <li><i class="fi-rs-user"></i><a href="/signup">Sign Up</a></li> -->
                                <!-- <li><i class="fi-rs-user"></i><a href="/login">Log In </a></li>    -->


                                <li><i class="fa-solid fa-user"></i><a href="/profile">Profile</a></li>

                                <li><i class="fi-rs-user"></i><a href="/logout">Logout</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/assets/imgs/shop/BIKYS.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/shop" method="get">
                                <!-- <select class="select-active" name="category">
                                    <option value="">All Categories</option>
                                    <% category.forEach((category)=>{ %>
                                        <option value="<%= category._id  %>">
                                            <%= category.name %>
                                        </option>
                                        <% }) %>
                                </select> -->
                                <!-- <input type="text" name="search" placeholder="Search for items..."> -->
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <!-- <a href="/wishlist">
                                        <img class="svgInject" alt="Evara"
                                            src="/assets/imgs/theme/icons/icon-heart.svg">

                                    </a> -->
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        <!-- <span class="pro-count blue">
                                            <%= cartItemCount %>
                                        </span> -->
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="/assets/imgs/shop/BIKYS.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <!-- <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categori-button-active" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-large">
                            <ul>
                                <li class="has-children">
                                    <a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Hot & Trending</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Dresses</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Blouses & Shirts</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Hoodies & Sweatshirts</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Women's Sets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Suits & Blazers</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Bodysuits</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Tanks & Camis</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Coats & Jackets</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Bottoms</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Leggings</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Skirts</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Shorts</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Jeans</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Pants & Capris</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Bikini Sets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Cover-Ups</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Swimwear</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="/assets/imgs/banner/menu-banner-2.jpg"
                                                        alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% Off</h6>
                                                        <h4>New Arrival</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="header-banner2">
                                                    <img src="/assets/imgs/banner/menu-banner-3.jpg"
                                                        alt="menu_banner2">
                                                    <div class="banne_info">
                                                        <h6>15% Off</h6>
                                                        <h4>Hot Deals</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-children">
                                    <a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Jackets & Coats</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Down
                                                                    Jackets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Jackets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Parkas</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Faux
                                                                    Leather Coats</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Trench</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Wool
                                                                    & Blends</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Vests & Waistcoats</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Leather Coats</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Suits & Blazers</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Blazers</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Suit
                                                                    Jackets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Suit
                                                                    Pants</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Suits</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Vests</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Tailor-made Suits</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Cover-Ups</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="/assets/imgs/banner/menu-banner-4.jpg"
                                                        alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% Off</h6>
                                                        <h4>New Arrival</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-children">
                                    <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Hot & Trending</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Cellphones</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">iPhones</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Refurbished Phones</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Mobile Phone</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Mobile Phone Parts</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Phone Bags & Cases</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Communication Equipments</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Walkie Talkie</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Accessories</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Screen Protectors</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Wire
                                                                    Chargers</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Wireless Chargers</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Car
                                                                    Chargers</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Power Bank</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Armbands</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Dust
                                                                    Plug</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Signal Boosters</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="/assets/imgs/banner/menu-banner-5.jpg"
                                                        alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% Off</h6>
                                                        <h4>New Arrival</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="header-banner2">
                                                    <img src="/assets/imgs/banner/menu-banner-6.jpg"
                                                        alt="menu_banner2">
                                                    <div class="banne_info">
                                                        <h6>15% Off</h6>
                                                        <h4>Hot Deals</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Jewelry &
                                        Accessories</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                                <li>
                                    <ul class="more_slide_open" style="display: none;">
                                        <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Beauty,
                                                Health</a></li>
                                        <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Bags and
                                                Shoes</a></li>
                                        <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Consumer
                                                Electronics</a></li>
                                        <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Automobiles &
                                                Motorcycles</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="more_categories">Show more...</div>
                        </div>
                    </div> -->
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a href="/">Home </a></li>
                                    <li><a href="page-about.html">About</a></li>
                                    <li><a class="active" href="/shop">Shop </a></li>

                                    <!-- <li class="position-static"><a href="#">Mega menu <i class="fi-rs-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Women's Fashion</a>
                                            <ul>
                                                <li><a href="shop-product-right.html">Dresses</a></li>
                                                <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                                <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                                <li><a href="shop-product-right.html">Wedding Dresses</a></li>
                                                <li><a href="shop-product-right.html">Prom Dresses</a></li>
                                                <li><a href="shop-product-right.html">Cosplay Costumes</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Men's Fashion</a>
                                            <ul>
                                                <li><a href="shop-product-right.html">Jackets</a></li>
                                                <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                                <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                                <li><a href="shop-product-right.html">Casual Pants</a></li>
                                                <li><a href="shop-product-right.html">Sweatpants</a></li>
                                                <li><a href="shop-product-right.html">Harem Pants</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Technology</a>
                                            <ul>
                                                <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                                <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                                <li><a href="shop-product-right.html">Tablets</a></li>
                                                <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                                <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-34">
                                            <div class="menu-banner-wrap">
                                                <a href="shop-product-right.html"><img
                                                        src="/assets/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                                                <div class="menu-banner-content">
                                                    <h4>Hot deals</h4>
                                                    <h3>Don't miss<br> Trending</h3>
                                                    <div class="menu-banner-price">
                                                        <span class="new-price text-success">Save to 50%</span>
                                                    </div>
                                                    <div class="menu-banner-btn">
                                                        <a href="shop-product-right.html">Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="menu-banner-discount">
                                                    <h3>
                                                        <span>35%</span>
                                                        off
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li> -->
                                    <!-- <li><a href="blog-category-grid.html">Blog <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                        <li><a href="blog-category-list.html">Blog Category List</a></li>
                                        <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                        <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                        <li><a href="#">Single Post <i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu level-menu-modify">
                                                <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                                <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                                <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> -->
                                    <!-- <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="page-about.html">About Us</a></li>
                                        <li><a href="page-contact.html">Contact</a></li>
                                        <li><a href="page-account.html">My Account</a></li>
                                        <li><a href="page-login-register.html">login/register</a></li>
                                        <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                        <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="page-terms.html">Terms of Service</a></li>
                                        <li><a href="page-404.html">404 Page</a></li>
                                    </ul>
                                </li> -->
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- <div class="hotline d-none d-lg-block">
                    <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                </div> -->
                    <!-- <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p> -->
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <!-- <a href="/wishlist">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">

                                </a> -->
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/getCart">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count white">
                                        <%= cartItemCount %>
                                    </span> -->
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="/getCart">View cart</a>
                                            <a href="/checkout">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="/assets/imgs/shop/BIKYS.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                  </div><!-- mobile menu start -->
                  <nav>
                      <ul class="mobile-menu">
                          <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                          </li>
                          <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                          </li>

                          <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                              <ul class="dropdown">
                                  <li><a href="page-about.html">About Us</a></li>
                                  <li><a href="page-contact.html">Contact</a></li>
                                  <li><a href="page-account.html">My Account</a></li>
                                  <li><a href="page-login-register.html">login/register</a></li>
                                  <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                  <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                  <li><a href="page-terms.html">Terms of Service</a></li>
                                  <li><a href="page-404.html">404 Page</a></li>
                              </ul>
                          </li>
                          <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                              <ul class="dropdown">
                                  <li><a href="#">English</a></li>
                                  <li><a href="#">French</a></li>
                                  <li><a href="#">German</a></li>
                                  <li><a href="#">Spanish</a></li>
                              </ul>
                          </li>
                      </ul>
                  </nav>
                  <!-- mobile menu end -->
              </div>
              <div class="mobile-header-info-wrap mobile-header-border">
                  <div class="single-mobile-header-info mt-30">
                      <a href="page-contact.html"> Our location </a>
                  </div>
                  <div class="single-mobile-header-info">
                      <a href="page-login-register.html">Log In / Sign Up </a>
                  </div>
                  <div class="single-mobile-header-info">
                      <a href="#">(+01) - 2345 - 6789 </a>
                  </div>
              </div>
              <div class="mobile-social-icon">
                  <h5 class="mb-15 text-grey-4">Follow Us</h5>
                  <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                  <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                  <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                  <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                  <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
              </div>
          </div>
      </div>
  </div>


  <main class="main">
      <div class="page-header breadcrumb-wrap">
          <div class="container">
              <div class="breadcrumb">
                  <a href="/" rel="nofollow">Home</a>
                  <span></span> Shop
                  <span></span> Your Cart
              </div>
          </div>
      </div>
      <section class="mt-50 mb-50">

          <!-- <div class="container p-5" id="alert-box"> -->

          <!-- </div> -->
          <% if (cart && cart.items.length>0) { %>


              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <div class="table-responsive">
                              <table class="table shopping-summery text-center clean">
                                  <thead>
                                      <tr class="main-heading">
                                          <!-- <th scope="col">Select</th> -->
                                          <th scope="col">Image</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Price</th>
                                          <th scope="col">Quantity</th>
                                          <th scope="col">Item Total</th>
                                          <th scope="col">Remove</th>
                                      </tr>
                                  </thead>
                                  <tbody>

                                      <% cart.items.forEach( (item)=> { %>

                                          <tr>
                                              <!-- <td class="checkbox" data-title="Select">
                                      <input type="checkbox" class="product-checkbox" style="height: 20px;"
                                          data-id=" <%= item.data.productId %>">
                                  </td> -->
                                              <td class="image product-thumbnail"><img style="height: 75px;"
                                                      src="/<%= item.data.image %>" alt="#">
                                              </td>
                                              <td class="product-des product-name">
                                                  <h5 class="product-name"><a
                                                          href="/product-details/<%= item.data.productId %>">
                                                          <%= item.data.productName %>
                                                      </a>
                                                  </h5>

                                              </td>
                                              <td class="price" data-title="Price"><span>₹
                                                      <%= item.data.afterDiscount %>
                                                  </span>
                                              </td>

                                              <td class="text-center" data-title="Stock">
                                                  <div class="detail-qty  radius  m-auto">
                                                      <a href="#" class="qty-down "
                                                          onclick="updateQuantity('<%= item.data._id  %>','<%= user.id %>','<%= item.data.countInStock %>','<%= item.quantity %>','sub')"><i
                                                              class="fi-rs-angle-small-down"></i></a>
                                                      <span class="qty-val me-3" id="qty-<%= item.data._id  %>">
                                                          <%= item.quantity %>
                                                      </span>
                                                      <a href="#" class="qty-up"
                                                          onclick="updateQuantity('<%= item.data._id  %>','<%= user.id %>','<%= item.data.countInStock %>','<%= item.quantity %>','sum')"><i
                                                              class="fi-rs-angle-small-up"></i></a>
                                                  </div>
                                              </td>

                                              <td class="text-right" id="quantity<%= item.data._id  %>"
                                                  data-title="Cart">
                                                  <span>₹ <%= item.data.afterDiscount*item.quantity %> </span>
                                              </td>
                                              <td class="action" data-title="Remove"><button type="button"
                                                      onclick="removeProductCart('<%= item.data._id %>','<%= user.id %>')"
                                                      class="text-muted border-0" style="background-color: black;"><i
                                                          class="fa-solid fa-trash "></i></button></td>
                                          </tr>
                                          <% }) %>
                                  </tbody>
                              </table>
                          </div>


                          <div class="cart-action text-end">
                              <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                              <a href="/shop" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                  Shopping</a>
                          </div>


                          <div class="col-lg-6 mb-3">
                              <div class="toggle_info">
                                  <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a
                                          coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed"
                                          aria-expanded="false">Click here to enter your code</a></span>
                              </div>

                              <div class="panel-collapse collapse coupon_form " id="coupon">
                                  <div class="panel-body">
                                      <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                      <!-- <form >
                                  <span id="errorCoupon" class="text-danger display:none"></span>
                                  <div class="form-group">
                                      <input type="text" placeholder="Enter Coupon Code">
                                  </div>
                                  <div class="form-group">
                                      <button type="button" class="btn btn-primary btn-apply coupon" name="login" onclick="applyCoupon()">Apply Coupon</button>
                                  </div>
                              </form> -->
                                      <form>
                                          <div class="form-group">
                                              <!-- <label>Have coupon?</label> -->
                                              <span id="errorCoupon" class="text-danger display:none"></span>
                                              <div class="input-group">
                                                  <input id="couponCode" type="text" class="form-control"
                                                      placeholder="Enter coupon code">
                                                  <span class="input-group-append">
                                                      <button type="button" class="btn btn-primary btn-apply coupon"
                                                          onclick="applyCoupon()">Apply</button>
                                                  </span>
                                              </div>
                                          </div>
                                      </form>
                                      <!-- Add a section to display applicable coupons -->
                                      <div class="applicable-coupons">
                                          <h3 class="text-brand">Applicable Coupons</h3>
                                          <div id="couponList"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                          <div class="row mb-50">

                              <div class="col-lg-6 col-md-12 ">
                                  <div class="border p-md-4 p-30 border-radius cart-totals">
                                      <div class="heading_s1 mb-3">
                                          <h4>Cart Totals</h4>
                                      </div>

                                      <div class="table-responsive">
                                          <table class="table">
                                              <tbody>
                                                  <tr>
                                                      <td class="cart_total_label">Cart Subtotal</td>
                                                      <td class="cart_total_amount"><span
                                                              class="font-lg fw-900  text-brand" id="cartTotal">₹
                                                              <%= cart.billTotal %>
                                                          </span></td>
                                                  </tr>
                                                  <tr>
                                                      <td class="cart_total_label">Discounted Price</td>
                                                      <td class="cart_total_amount"><span id="discountedPrice"
                                                              class="font-lg fw-900 text-brand">₹ </span></td>

                                                  </tr>
                                                  <tr>
                                                      <td class="cart_total_label">Shipping</td>
                                                      <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                          Shipping</td>
                                                  </tr>
                                                  <tr>
                                                      <td class="cart_total_label">Total</td>
                                                      <td class="cart_total_amount"><strong><span
                                                                  class="font-xl fw-900 text-brand " id="totalPrice"
                                                                  data-billTotal="<%= cart.billTotal %>">₹
                                                                  <%= cart.billTotal %>
                                                              </span></strong>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                      <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To
                                          CheckOut</a>
                                  </div>
                              </div>

                              <!-- <div class="mb-30 mt-50">
                                  <div class="heading_s1 mb-3">
                                      <h4>Apply Coupon</h4>
                                  </div>
                                  <div class="total-amount">
                                      <div class="left">
                                          <div class="coupon">
                                              <form action="#" target="_blank">
                                                  <div class="form-row row justify-content-center">
                                                      <div class="form-group col-lg-6">
                                                          <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">
                                                      </div>
                                                      <div class="form-group col-lg-6">
                                                          <button class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div> -->

                          </div>
                      </div>

                  </div>
              </div>
              <% } else{%>
                  <div class="container">
                      <div class="row">
                          <div class="col-12">
                              <!-- <div class="card"> -->
                              <!-- <div class="card-header">
                          <h5>Cart</h5>
                      </div> -->
                              <div class="card-body cart">
                                  <div class="col-sm-12 empty-cart-cls text-center">
                                      <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                          class="img-fluid mb-4 mr-3">
                                      <h3><strong>Your Cart is Empty</strong></h3>
                                      <h4>Add something to make me happy :</h4>
                                      <a href="/shop" class="btn btn-primary cart-btn-transform m-3"
                                          data-abc="true">continue
                                          shopping</a>


                                  </div>
                              </div>
                              <!-- </div> -->
                          </div>
                      </div>
                      <% } %>
      </section>
  </main>

  <footer class="main">
      <section class="newsletter p-30 text-white wow fadeIn animated">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-7 mb-md-3 mb-lg-0">
                      <div class="row align-items-center">
                          <div class="col flex-horizontal-center">
                              <img class="icon-email" src="/assets/imgs/theme/icons/icon-email.svg" alt="">
                              <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                          </div>
                          <div class="col my-4 my-md-0 des">
                              <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                      shopping.</strong></h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-5">
                      <!-- Subscribe Form -->
                      <form class="form-subcriber d-flex wow fadeIn animated">
                          <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                          <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                      </form>
                      <!-- End Subscribe Form -->
                  </div>
              </div>
          </div>
      </section>
      <section class="section-padding footer-mid">
          <div class="container pt-15 pb-20">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="widget-about font-md mb-md-5 mb-lg-0">
                          <div class="logo logo-width-1 wow fadeIn animated">
                              <a href="/"><img src="/assets/imgs/shop/BIKYS.png" alt="logo"></a>
                          </div>
                          <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                          <p class="wow fadeIn animated">
                              <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                          </p>
                          <p class="wow fadeIn animated">
                              <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                          </p>
                          <p class="wow fadeIn animated">
                              <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                          </p>
                          <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                          <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                              <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                              <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                              <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                              <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                              <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-3">
                      <h5 class="widget-title wow fadeIn animated">About</h5>
                      <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Delivery Information</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Terms &amp; Conditions</a></li>
                          <li><a href="#">Contact Us</a></li>
                          <li><a href="#">Support Center</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-2  col-md-3">
                      <h5 class="widget-title wow fadeIn animated">My Account</h5>
                      <ul class="footer-list wow fadeIn animated">
                          <li><a href="/signup">Sign In</a></li>
                          <li><a href="/cart">View Cart</a></li>
                          <li><a href="#">My Wishlist</a></li>
                          <li><a href="#">Track My Order</a></li>
                          <li><a href="#">Help</a></li>
                          <li><a href="#">Order</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-4">
                      <h5 class="widget-title wow fadeIn animated">Install App</h5>
                      <div class="row">
                          <div class="col-md-8 col-lg-12">
                              <p class="wow fadeIn animated">From App Store or Google Play</p>
                              <div class="download-app wow fadeIn animated">
                                  <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                          src="/assets/imgs/theme/app-store.jpg" alt=""></a>
                                  <a href="#" class="hover-up"><img src="/assets/imgs/theme/google-play.jpg"
                                          alt=""></a>
                              </div>
                          </div>
                          <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                              <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                              <img class="wow fadeIn animated" src="/assets/imgs/theme/payment-method.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="container pb-20 wow fadeIn animated">
          <div class="row">
              <div class="col-12 mb-20">
                  <div class="footer-bottom"></div>
              </div>
              <div class="col-lg-6">
                  <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                          class="text-brand">Evara</strong>
                      - HTML Ecommerce Template </p>
              </div>
              <div class="col-lg-6">
                  <p class="text-lg-end text-start font-sm text-muted mb-0">
                      Designed by <a href="http://alithemes.com" target="_blank">Alithemes.com</a>. All rights
                      reserved
                  </p>
              </div>
          </div>
      </div>
  </footer>
  <!-- Preloader Start -->
  <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="text-center">
                  <h5 class="mb-5">Now Loading</h5>
                  <div class="loader">
                      <div class="bar bar1"></div>
                      <div class="bar bar2"></div>
                      <div class="bar bar3"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <script>
      
        async function updateQuantity(productId, userId, stock, current, need) {
    console.log('updateQuantity called with productId:', productId, 'userId:', userId, 'stock:', stock, 'current:', current, 'need:', need);

    // Assume the ID is directly derived from the productId
    const qtyElementId = `qty-${productId}`;
    const priceElementId = `price-${productId}`;
    console.log(productId, "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\");

    if (document.getElementById(qtyElementId)) {
        try {
            const res = await fetch('/update-cart-quantity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    productId,
                    userId,
                    need,
                }),
            });

            if (res.status === 200) {
                const responseData = await res.json();
                
                // Only update the UI if the updated quantity is greater than or equal to 1
                if (responseData.quantity >= 1) {
                    const updatedQuantity = responseData.quantity;
                    const updatedPrice = responseData.updatedPrice;

                    console.log(updatedQuantity, updatedPrice, responseData.totalamt);

                    // Update the quantity on the page without reloading
                    const qtyElement = document.getElementById("quantity" + productId);
                    if (qtyElement) {
                        if (updatedQuantity > stock) {
                            // Display error modal for stock limit exceeded
                            await Swal.fire({
                                title: 'Error',
                                text: 'Stock limit exceeded.',
                                icon: 'error',
                                showConfirmButton: true
                            });
                        } else {
                            // Update quantity and total amount
                            qtyElement.textContent = "₹ " + updatedPrice;
                            let Bill = document.getElementById('totalPrice');
                            document.getElementById("cartTotal").textContent = "₹ " + responseData.totalamt
                            Bill.textContent = "₹ " + responseData.totalamt
                        }
                    }

                    // Update the price on the page without reloading
                    const priceElement = document.getElementById(priceElementId);
                    if (priceElement) {
                        priceElement.textContent = updatedPrice;
                    } else {
                        console.error(`Price element not found with ID: `);
                    }
                }
            } else {
                // Handle non-200 status codes if needed
                console.error('Error updating quantity:', res.statusText);
            }
        } catch (error) {
            console.error('Error updating quantity:', error.message);
        }
    } else {
        console.error(`Quantity element not found with ID: ${qtyElementId}`);
   }
}





    //async function removeProductCart(productId, userId) {

      //     let res = await fetch('/remove-product', {
      //         method: "POST",
      //         headers: {
      //             'Content-Type': 'application/json'
      //         },
      //         body: JSON.stringify({
      //             productId,
      //             userId
      //         })
      //     })
      //     if (res.status === 200) {
      //         location.reload()
      //     }
      // }

      function removeProductCart(productId, userId) {
          // Show a confirmation message using SweetAlert
          swal.fire({
              title: "Are you sure?",
              text: "Do you want to remove this product from your cart?",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, remove it!'
          }).then((result) => {
              if (result.isConfirmed) {
                  fetch('/remove-product', {
                      method: "POST",
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                          productId,
                          userId
                      })
                  })
                      .then((response) => {
                          if (response.ok) {
                              return response.json();
                          } else {
                              throw new Error('Network response was not ok.');
                          }
                      })
                      .then((data) => {
                          if (data.success) {
                              // Product removed successfully
                              swal.fire({
                                  title: 'Product Removed',
                                  text: '',
                                  icon: "success",
                                  type: 'success',
                                  timer: 1500,
                                  timerProgressBar: true,
                              }).then(() => {
                                  window.location.reload();
                              });
                          } else {
                              // Handle deletion failure
                              swal.fire('Error Deleting product', data.message, 'error');
                          }
                      })
                      .catch((error) => {
                          // Handle errors during fetch
                          swal.fire('Error', 'An error occurred while removing the product.', 'error');
                          console.error('Fetch Error:', error);
                      });
              }
          });
      }



      //COUPON
      // Function to update the displayed coupon list based on the bill total
      function updateCouponList(billTotal) {
          fetch(`/getCoupons?billTotal=${billTotal}`)
              .then((response) => response.json())
              .then((coupons) => {
                  const couponList = document.getElementById('couponList');
                  couponList.innerHTML = '';

                  if (coupons.length === 0) {
                      couponList.innerHTML = '<p>No coupons available for this bill total</p>';
                  } else {
                      coupons.forEach((coupon) => {
                          const couponItem = document.createElement('div');
                          couponItem.classList.add('coupon-item');

                          const couponDetails = document.createElement('div');
                          couponDetails.classList.add('coupon-details');
                          couponDetails.innerHTML = `${coupon.code} - ${coupon.description}`;

                          const applyButton = document.createElement('button');
                          applyButton.classList.add('apply-btn');
                          applyButton.setAttribute('data-coupon', coupon.code);
                          applyButton.textContent = 'Apply';

                          couponItem.appendChild(couponDetails);
                          couponItem.appendChild(applyButton);

                          couponList.appendChild(couponItem);
                      });

                      // Attach event listeners to the Apply buttons
                      document.querySelectorAll('.apply-btn').forEach((button) => {
                          button.addEventListener('click', function () {
                              const couponCode = this.getAttribute('data-coupon');
                              document.getElementById('couponCode').value = couponCode;
                          });
                      });
                  }
              })
              .catch((error) => {
                  console.error('Error fetching coupons:', error);
              });
      }

      // Function to handle the apply coupon button click
      function applyCoupon() {
          const couponCode = document.getElementById('couponCode').value;
          const billTotalElement = document.getElementById('cartTotal');
          const billTotal = parseFloat(billTotalElement.textContent.slice(1));

          // Make an AJAX request to the backend to validate and apply the coupon
          fetch(`/applyCoupon?code=${couponCode}&billTotal=${billTotal}`)
              .then((response) => response.json())
              .then((data) => {
                  if (data.success) {
                      document.getElementById('discountedPrice').textContent = '₹ ' + data.discountedPrice;

                      // Update the total price on the frontend
                      document.getElementById('totalPrice').textContent = '₹ ' + (billTotal - data.discountedPrice);


                  } else {
                      const span = document.getElementById('errorCoupon')
                      span.style.display = 'block'
                      span.innerText = data.message
                      setTimeout(() => {
                          span.style.display = "none"
                      }, 5000)
                      document.getElementById('discountedPrice').textContent = '₹ ' + 0;

                      // Update the total price on the frontend
                      document.getElementById('totalPrice').textContent = '₹ ' + (billTotal - 0);


                      // Update the displayed bill total if the coupon was applied successfully
                      //  billTotalElement.textContent = '₹ ' + data.updatedBillTotal;
                  }
              })
              .catch((error) => {
                  console.error('Error applying coupon:', error);
              });
      }
      window.onload = function () {
          const billTotalElement = document.querySelector('[data-billTotal]');
          const billTotal = parseFloat(billTotalElement.getAttribute('data-billTotal'));
          console.log(billTotal, "billtotal"); // You can use this value as needed
          updateCouponList(billTotal)

      };

  </script>




  <!-- Vendor JS-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/plugins/slick.js"></script>
  <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
  <script src="/assets/js/plugins/wow.js"></script>
  <script src="/assets/js/plugins/jquery-ui.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
  <script src="/assets/js/plugins/magnific-popup.js"></script>
  <script src="/assets/js/plugins/select2.min.js"></script>
  <script src="/assets/js/plugins/waypoints.js"></script>
  <script src="/assets/js/plugins/counterup.js"></script>
  <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
  <script src="/assets/js/plugins/images-loaded.js"></script>
  <script src="/assets/js/plugins/isotope.js"></script>
  <script src="/assets/js/plugins/scrollup.js"></script>
  <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
  <!-- Template  JS -->
  <script src=".//assets/js/main.js?v=3.4"></script>
  <script src=".//assets/js/shop.js?v=3.4"></script>
  </body>


  </html>